body {
  margin: 0;
  font-family: Arial;
  background: #0f172a;
  color: white;
}

.app {
  padding: 20px;
}

.board {
  display: flex;
  gap: 20px;
}

.column {
  background: #1e293b;
  padding: 15px;
  border-radius: 10px;
  width: 30%;
}

.card {
  background: #334155;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
}

.actions button {
  margin-right: 5px;
  cursor: pointer;
}

.form {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin-right: 10px;
}